@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 150ms ease-in-out;
}

:root {
  color-scheme: dark;
}

@keyframes ping {
  75%, 100% {
    transform: scale(1.05);
    opacity: 0.5;
  }
}

@keyframes levitate {
  0%, 100% {
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
    @apply translate-y-10 scale-105;
  }
  50% {
    @apply translate-y-0 scale-100;
    animation-timing-function: cubic-bezier(0, 0, 1, 1);
  }
}


@keyframes rotateAndBounce {
  0% {
    transform: rotate(0deg) translateY(1%);
  }
  25% {
    transform: rotate(-30deg) translateY(-15%);
  }
  50% {
    transform: rotate(-45deg) translateY(-15%) translateX(-10%);
  }
  75% {
    transform: rotate(-30deg) translateY(5%) translateX(-1%);
  }
  100% {
    transform: rotate(0deg) translateY(1%);
  }
}


.rotate-and-bounce {
  animation: rotateAndBounce 2s infinite ease-in-out;

}